/* Start General Rules */

:root {
    /*    --main-bg: #fefefe;*/
    --main-bg: #f3f3f3;
    --main-color: #0c0233;
    --yellow: #ffd710;
    --heading: #56A5CE;
    --link: #f27373;
    --light-blue: #95f4ff;
    --dark-shadow: 3px 3px 5px #000;
    --light-shadow: 3px 3px 5px #fff;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', 'Helvetica', 'Arial', "Helvetica Neue", sans-serif;
    font-size: 15px;
}

body {
    color: var(--main-color);
    background-color: var(--main-bg);
}

h1,
h2,
h3 {
    text-transform: capitalize;
    color: var(--heading);
}

h2,
h3 {
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
    font-family: 'montserrat alternates';
}

h3 {
    font-size: 1.6rem;
}

section h2 {
    text-transform: uppercase;
}

p {
    font-size: 1.3rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--link);
}

.logo {
    width: 100%;
    max-width: 58px;
    height: 60px;
    padding-top: 10px;
    border: 2px solid var(--yellow);
    align-self: start;
    justify-self: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 800;
    background-color: var(--main-color);
}

.logo:hover {
    font-size: 2.2rem;
    padding-top: 6px;
}

.logo a {
    color: var(--yellow);
}

.logo span {
    font-weight: 100;
    font-family: "sacramento";
}

/* End General rules */

/* Start Nav rules*/

nav {
    background-color: var(--main-bg);
    position: fixed;
    left: 0;
    top: 5%;
    height: 90%;
    padding: 25px 6px;
    display: grid;
    text-align: center;
    min-width: 4.6rem;
    min-height: 50rem;
    max-height: 90rem;
    border-radius: 0 20px 20px 0;
    z-index: 5;
}

nav.contrast {
    background-color: var(--main-color);
}

nav .nav ul li a {
    display: block;
    margin-top: 2rem;
    color: var(--main-color);
    height: 2rem;
    text-transform: capitalize;
    font-weight: 900;
    border-right: 2px solid var(--yellow);
    border-left: 2px solid var(--yellow);
    padding: .3rem 0.1rem;
}

nav.contrast .nav ul li a {
    color: var(--yellow);
    border-right: 2px solid var(--yellow);
    border-left: 2px solid var(--yellow);

}

nav .nav ul li a:hover:before {
    display: block;
}

nav .nav ul li a:hover:after {
    display: none;
}

nav .nav ul li a:before {
    font-size: 0.8rem;
    display: none;
    padding-top: 0.25rem;
}

nav .nav ul li a:after {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-size: 1.7rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

nav .nav ul li a[href="#home"]:before {
    content: "home";
}

nav .nav ul li a[href="#home"]:after {
    content: "\f015";
}

nav .nav ul li a[href="#about"]:before {
    content: "about";
}

nav .nav ul li a[href="#about"]:after {
    content: "\f21b";
}

nav .nav ul li a[href="#skills"]:before {
    content: "skills";
}

nav .nav ul li a[href="#skills"]:after {
    content: "\f085";
}

nav .nav ul li a[href="#myWork"]:before {
    content: "my work";
}

nav .nav ul li a[href="#myWork"]:after {
    content: "\f06e";
}

nav .nav ul li a[href="#services"]:before {
    content: "services";

}

nav .nav ul li a[href="#services"]:after {
    content: "\f2b5";
}

nav .nav ul li a[href="#contact"]:before {
    content: "contact";

}

nav .nav ul li a[href="#contact"]:after {
    content: "\f095";
}

nav .social {
    align-self: end;
}

.social a {
    display: block;
    font-weight: 900;
    padding: .3rem;
    font-size: 1.2rem;
}


/* End Nav rules */

/* Start Header rules*/

header {
    min-height: 100vh;
    padding: 10rem;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../media/header%20(10).jpeg") center center no-repeat;
    background-size: cover;
    display: grid;
    align-content: center;
    justify-content: center;
}

header h1 {
    color: var(--main-bg);
    text-shadow: var(--dark-shadow);
    text-align: center;
    max-width: 40rem;
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Fredericka the Great';
}

header h1 span {
    color: var(--yellow);
}

header h1 span.typed {
    text-transform: uppercase;
}

/* End Header rules */

/* Start Main rules */

main {
    display: grid;
    grid-gap: 2rem;
    align-content: center;
    justify-items: center;
    padding: 0 6rem;
}

section {
    border: 2px solid #000;
    display: grid;
    text-align: center;
}

/* End Main rules */

/* Start About Me rules */

section#about {
    padding: 6rem;
    max-width: 90rem;
    margin-top: -10rem;
    background-color: var(--main-bg);
    border-radius: 10rem;
    box-shadow: inset 0 0 20px 17px #eaeaea;
    border: none;
}

#about > p {
    margin-bottom: 3rem;
}

#about ul {
    text-align: left;
}

#about ul li {
    position: relative;
    padding-bottom: 2rem;
    border-left: 1px solid var(--yellow);
    padding-left: 3rem;
}

#about ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 50%;

}

#about ul li:last-child:after {
    /* Circle*/
    /*
    content: "";
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
*/
    /* Arrow 1 */
    content: "\f0ab";
    bottom: -14px;
    left: -18px;
    font-size: 35px;
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    text-rendering: auto;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    color: var(--main-color);
    background-color: var(--yellow);
    border-radius: 50%;
    /* Arrow 2 */
    /*
    content: "\f0d7";
    bottom: -14px;
    left: -13px;
    font-size: 40px;
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    text-rendering: auto;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    color: var(--main-color);
*/
}

/* End About Me rules */

/* Start About Me rules */

/* End About Me rules */

/* Start About Me rules */

/* End About Me rules */

/* Start About Me rules */

/* End About Me rules */
