/* Start General Rules */

:root {
  --main-bg: #ffffff;
  --main-color: #0c0233;
  --yellow: #ffd710;
  --heading: #56A5CE;
  --link: #f27373;
  --light-blue: #95f4ff;
  --border-color: #dadada;
  --dark-shadow: 3px 3px 5px #000;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /*    outline: 0.2px solid #e8e8e8;*/
}

html {
  font-family: 'Raleway', 'Helvetica', 'Arial', "Helvetica Neue", sans-serif;
  font-size: 10px;
  line-height: 1.5;
}

body {
  color: var(--main-color);
  background-color: var(--main-bg);
}


h1,
h2,
h3 {
  text-transform: capitalize;
  color: var(--heading);
}

h2,
h3 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  font-family: 'montserrat alternates';
}

h1 {
  max-width: 40rem;
  width: 90%;
  margin: 3rem auto;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: 'Fredericka the Great';
  height: 210px;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 1.7rem;
}


p {
  font-size: 1.4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--link);
}

.logo {
  width: 50px;
  height: 50px;
  padding-top: 4px;
  border: 2px solid var(--yellow);
  align-self: start;
  justify-self: center;
  text-transform: uppercase;
  font-size: 25px;
  background-color: var(--main-color);
}

.logo a {
  color: var(--yellow);
}

.logo span {
  font-weight: 100;
  font-family: "sacramento";
}

.btn {
  display: inline-block;
  padding: 0.6rem 4rem;
  border: 2px solid var(--yellow);
  background: #0c02338c;
  color: var(--yellow);
  border-radius: 1rem;
  font-size: 1.7rem;
  text-transform: capitalize;
  justify-self: center;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.btn:hover,
.btn:focus,
.btn:active {
  padding: 0.6rem 6rem;
  border-radius: 2.2rem;
  background: var(--main-color);
  border-color: var(--main-color);
}

.social a {
  display: inline-block;
  font-weight: 900;
  padding: .3rem;
  font-size: 1.2rem;
  color: var(--yellow);
}


.arrows {
  height: 3rem;
  width: 100%;
  margin: 4rem auto;
  animation: 1s ease-in infinite arrows;

}

.arrow {
  position: relative;
  height: 33.3333333%;
}

.arrow:before,
.arrow:after {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: 2rem;
  background-color: var(--yellow);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform-origin: 50% 102%;
}


.arrow:before {
  left: 50%;
  -webkit-transform: rotate(-75deg);
  -o-transform: rotate(-75deg);
  -moz-transform: rotate(-75deg);
  transform: rotate(-75deg);
}

.arrows:hover .arrow:before,
.arrows:focus .arrow:before,
.arrows:active .arrow:before {
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  transform: rotate(-40deg);

}

.arrow:after {
  right: 50%;
  -webkit-transform: rotate(75deg);
  -o-transform: rotate(75deg);
  -moz-transform: rotate(75deg);
  transform: rotate(75deg);
}

.arrows:hover .arrow:after,
.arrows:focus .arrow:after,
.arrows:active .arrow:after {
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  transform: rotate(40deg);

}

/* Start animations rules */

/*
@keyframes shapesMove {
    from {
        transform: translateY(-1200px) translateX(-1200px) rotateZ(0deg);
    }
    to {
        transform: translateY(1200px) translateX(1200px) rotateZ(360deg);
    }
}

@keyframes shapesMove2 {
    from {
        transform: translateY(1200px) translateX(1200px) rotateZ(0deg);
    }
    to {
        transform: translateY(-1200px) translateX(-1200px) rotateZ(360deg);
    }
}

@keyframes shapesMove3 {
    from {
        transform: translateY(0) translateX(0) rotateZ(0deg);
    }
    to {
        transform: translateY(100%) translateX(100%) rotateZ(360deg);
    }
}

@keyframes shapesMove4 {
    from {
        transform: translateY(100%) translateX(100%) rotateZ(0deg);
    }
    to {
        transform: translateY(0) translateX(0) rotateZ(360deg);
    }
}

*/

@keyframes arrows {
  0 {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
  }

}


/* End animations rules */

/* End General rules */

/* Start Nav rules*/

nav {
  background-color: var(--main-color);
  position: fixed;
  top: 10px;
  left: 5%;
  border-radius: 20px;
  padding: 10px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  --border-color: #ffd710;
  z-index: 5;
}

nav .nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(44px, 1fr));
  justify-items: center;
  align-items: center;
  grid-gap: 15px;
}

nav .nav ul li a {
  display: inline-block;
  height: 3.5rem;
  min-width: 54px;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  color: var(--yellow);
  text-transform: capitalize;
  font-weight: 900;
  text-align: center;
  padding-top: 6px;
}

nav .nav ul li a:hover {
  padding-top: 9px;
}

nav .nav ul li a.active {
  color: var(--main-bg);
  border-color: var(--main-bg);
}

nav .nav ul li a:before {
  font-size: 1rem;
  display: none;
}

nav .nav ul li a:hover:before,
nav .nav ul li a:active:before,
nav .nav ul li a:focus:before {
  display: block;
}

nav .nav ul li a:hover:after,
nav .nav ul li a:active:after,
nav .nav ul li a:focus:after {
  display: none;
}

nav .nav ul li a:after {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-size: 1.5rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

nav .nav ul li a[href="#home"]:before {
  content: "home";
}

nav .nav ul li a[href="#home"]:after {
  content: "\f015";
}

nav .nav ul li a[href="#about"]:before {
  content: "about";
}

nav .nav ul li a[href="#about"]:after {
  content: "\f21b";
}

nav .nav ul li a[href="#skills"]:before {
  content: "skills";
}

nav .nav ul li a[href="#skills"]:after {
  content: "\f085";
}

nav .nav ul li a[href="#work"]:before {
  content: "my work";
  padding-top: 0;
}

nav .nav ul li a[href="#work"]:after {
  content: "\f06e";
}

nav .nav ul li a[href="#services"]:before {
  content: "services";

}

nav .nav ul li a[href="#services"]:after {
  content: "\f2b5";
}

nav .nav ul li a[href="#contact"]:before {
  content: "contact";

}

nav .nav ul li a[href="#contact"]:after {
  content: "\f095";
}


nav .social {
  align-self: end;
}


nav .social {
  display: none;
}

/* End Nav rules */

/* Start Header rules*/

header {
  min-height: 100vh;
  background: linear-gradient(hsla(247, 90%, 20%, 0.4), hsla(247, 90%, 20%, 0.4)), url("../media/header%20(2).jpeg") center center no-repeat;
  background-size: cover;
  display: grid;
  align-content: center;
  text-align: center;
  padding-top: 15rem;
}

header .content {
  justify-self: center;

}

header h1 {
  color: var(--main-bg);
  text-shadow: var(--dark-shadow);
}

header h1 span {
  color: var(--yellow);
}

header h1 span.typed {
  text-transform: uppercase;
}

header .btn:after {
  content: "\f30b";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-left: 1rem;
}

.shape-rec {
  position: fixed;
  top: -500px;
  left: -500px;
  z-index: 0;
  width: 350px;
  height: 350px;
  border: 1px solid rgba(255, 255, 255, 0.41);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.shape-rec:hover,
.shape-rec:focus,
.shape-rec:active {
  border-width: 10px;
}

.shape-rec5,
.shape-rec6,
.shape-rec7,
.shape-rec8 {
  border-radius: 50%;
}

.shape-rec1,
.shape-rec5 {
  animation: 10s linear infinite shapesMove;
}

.shape-rec5 {
  animation-delay: 1.5s;
}

.shape-rec2,
.shape-rec6 {
  animation: 15s linear infinite shapesMove2;
}

.shape-rec2 {
  animation-delay: 2.5s;
}

.shape-rec3,
.shape-rec7 {
  animation: 15s linear infinite shapesMove3;
}

.shape-rec3 {
  animation-delay: 3.5s;
}

.shape-rec4,
.shape-rec8 {
  animation: 15s linear infinite shapesMove4;
}

.shape-rec8 {
  animation-delay: 4.5s;
}

/* End Header rules */

/* Start Main rules */

main {
  display: grid;
  align-content: center;
  justify-items: center;
  padding: 0 5%;
}

/*Section General Rules*/

section {
  border-bottom: 1px solid var(--border-color);
  display: grid;
  text-align: center;
  padding: 8% 2%;
}

section>p {
  margin-bottom: 4rem;
}

section ul {
  text-align: left;
}

section ul li {
  position: relative;
  padding-bottom: 2rem;
  border-left: 1px solid var(--yellow);
  padding-left: 3rem;
}

section ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;

}

section ul li:last-child:after {
  line-height: 1;
  content: "\f0ab";
  bottom: -14px;
  left: -18px;
  font-size: 35px;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  text-rendering: auto;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  color: var(--main-color);
  background-color: var(--yellow);
  border-radius: 50%;
}

section em {
  padding: 0 5px;
  font-weight: 900;
  font-size: 105%;
}


/* End Main rules */

/* Start About Me rules */

section#about {
  padding-top: 9rem;
  margin-top: -5rem;
  background-color: var(--main-bg);
  border-radius: 5rem 5rem 0 0;
}

section#about blockquote {
  font-size: 1.5rem;
  margin-top: 0.8rem;
  text-transform: capitalize;
  font-weight: 800;
  text-align: center;
}

section#about blockquote em,
section#about blockquote cite {
  background: var(--light-blue);
}

/* End About Me rules */

/* Start Skills rules */

#skills span {
  display: inline-block;
  padding: 6px 9px;
  background: var(--main-color);
  color: var(--main-bg);
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
}

/* End Skills rules */

/* Start Services rules */

section#services ul {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-rows: minmax(24rem, 1fr);
  grid-gap: 1.5rem;
}

section#services ul li {
  position: relative;
  border: none;
  border-left: 1px solid var(--yellow);
  border-bottom-left-radius: 36%;
  padding-bottom: 4rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

section#services ul li p {
  max-width: 80%;
}

section#services ul li:last-child:after {
  content: "";
}

/* End Services rules */

/* Start Work rules */

/* Start Portfolio rules */

#work {}

.portfolio {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(15rem, 50rem);
  grid-template-rows: auto auto repeat(8, minmax(25rem, 1fr));
  grid-gap: 1px;
  align-content: center;
  justify-content: center;
}

.portfolio p {
  margin-bottom: 3rem;
}

.sample {
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}

.sample:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 0;
  height: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.sample .img-skill {
  z-index: 10;
  11
}

.sample span,
.sample a {
  display: inline-block;
  color: var(--main-bg);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4px 7px;
  font-size: 1rem;
  border-radius: 5px;
  margin: 0.2rem;
  text-transform: uppercase;
  opacity: 0;
}

.sample a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.sample:hover,
.sample:focus,
.sample:active {
  transform: scale(1.05);
  z-index: 1;
}

.sample:hover:before,
.sample:focus:before,
.sample:active:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sample:hover .img-skill span,
.sample:hover a {
  opacity: 1;
}

.cupid {
  background: url('../media/porfolio/cupied.png') top center no-repeat;
  background-size: cover;
}

.calc {
  background: url('../media/porfolio/calc.png') top center no-repeat;
  background-size: cover;
}

.acme {
  background: url('../media/porfolio/acme.png') center center no-repeat;
  background-size: cover;

}

.admin {
  background: url('../media/porfolio/admin.png') top center no-repeat;
  background-size: cover;

}

.weather {
  background: url('../media/porfolio/weather.png') center center no-repeat;
  background-size: cover;

}

.wiki {
  background: url('../media/porfolio/wiki.png') top center no-repeat;
  background-size: cover;

}

.pomodoro {
  background: url('../media/porfolio/pom.png') center center no-repeat;
  background-size: cover;

}

.game {
  background: url('../media/porfolio/game.png') center center no-repeat;
  background-size: cover;

}

/* End Portfolio rules */

/* End Work rules */

/* Start contact rules */

/* Start contact form rules */

.contact-form {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 2rem;
}

.contact-form h2 {
  margin-bottom: 2rem;
}

.contact-form a {
  font-weight: 500;
  font-size: 1.55rem;
}

.contact-form p {
  max-width: 75%;
  margin: auto;
  line-height: 1.8;
}

.contact-form>.btn {
  margin-top: 2rem;
  background-color: var(--main-color);
  display: none;
}

.contact-form>.btn:hover,
.contact-form>.btn:focus,
.contact-form>.btn:active {
  background-color: var(--yellow);
  color: var(--main-color);
  border-color: var(--yellow);
}

/* Start hd-form rules */

.hd-form {
  background-color: rgba(12, 2, 51, 0.96);
  color: var(--yellow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  overflow: hidden;
  display: grid;
  grid-gap: 2rem;
  align-content: center;
  justify-items: center;
  padding: 10rem;
  transition: 0.2s 1s;
  display: none;
}

.hd-form>p {
  max-width: 80%;
}

form {
  min-width: 200px;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  border: 2px solid var(--yellow);
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(15rem, 1fr));
  justify-content: center;
  grid-gap: 1rem;
}

.hd-form input,
.hd-form textarea,
.hd-form input.btn {
  padding: 1rem;
  display: inline-block;
  text-align: left;
  border: 2px solid var(--yellow);
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: transparent;
}

.hd-form input.btn {
  padding: 0.7rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--main-bg);
  border: 2px solid var(--yellow);
  border-radius: 2rem;
  margin: 0.7rem;
  grid-column: 1/-1;
  min-width: 20rem;
  font-weight: 400;
  text-align: center;
}

.hd-form textarea,
.hd-form p {
  grid-column: 1/-1;
}

a#hd-form-close {
  position: absolute;
  top: 5rem;
  right: 5rem;
  padding: 0.1rem 0.4rem;
  font-size: 1.8rem;
}

/* End hd-form rules */

/* End contact form rules */

/* Start Map rules */

.location iframe {

  width: 90%;
  min-height: 30rem;
  margin: 2rem auto;
}

/* End Map rules */

/* End contact rules */

/* Start Footer rules */

footer {
  background-color: var(--main-color);
  color: var(--yellow);
  padding: 2rem;
  width: 100%;
  text-align: center;
}

footer ul li {
  display: inline-block;
}


/* End Footer rules */

/* Start Media Queries rules */

@media (min-width:750px) {
  html {
    font-size: 12px;
  }

  /*    Start Nav Rules*/
  nav {
    left: 10px;
    top: 5%;
    padding: 25px 10px;
    width: 65px;
    display: grid;
    grid-gap: 36px;
    justify-content: center;
    text-align: center;
  }

  nav .nav ul li a {
    margin: 3px auto;
    height: 37.5px;
    width: 42.5px;
    /*        min-width: auto;*/
    border: none;
    border-right: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
  }

  nav .nav ul li a:before {
    font-size: 12px;
  }

  nav .nav ul li a:after {
    font-size: 18px;
  }

  nav .nav ul li a[href="#work"]:hover {
    padding-top: 2px;
  }

  nav .social {
    display: block;
  }

  /*    End Nav Rules*/
  /*    Start main Rules*/
  main {
    padding: 0 10%;
  }

  /*    End main Rules*/
  /*    Start Section Rules*/
  section {
    padding: 5rem;
  }

  /*    End Section Rules*/
  /*    Start Portfolio Rules*/
  .portfolio {
    grid-template-columns: 1fr minmax(2rem, 0.3fr) 1fr;
    grid-template-rows: auto auto repeat(4, minmax(20rem, 1fr));
    grid-template-areas: "h h h""p p p""cup cup acme""adm wea wea""pom pom calc""ga wiki wiki";
  }

  .portfolio h2 {
    grid-column: 1/-1;
    grid-area: h;
  }

  .portfolio p {
    grid-column: 1/-1;
    grid-area: p;
  }

  .cupid {
    grid-area: cup;
  }


  .acme {
    grid-area: acme;
  }

  .admin {
    grid-area: adm;
  }

  .weather {
    grid-area: wea;
  }

  .calc {
    grid-area: calc;
  }

  .wiki {
    grid-area: wiki;
  }

  .pomodoro {
    grid-area: pom;
  }

  .game {
    grid-area: ga;
  }

  /*    End Portfolio Rules*/
  /*    Start Services Rules*/
  section#services>p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto
  }

  section#services ul {
    grid-gap: 2.5rem;
  }

  section#services ul li {
    padding-bottom: 5rem;
  }

  section#services ul li:hover,
  section#services ul li:focus,
  section#services ul li:active {
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /*    End Services Rules*/
}

@media (min-width:1250px) {
  html {
    /*        font-size: 14px;*/
  }

  /*    Start Header Rules*/
  header h1 {
    height: 400px;
    text-align: left;
    font-size: 3rem;
  }

  header .btn {
    margin-bottom: inherit;
  }

  /*    End Header Rules*/
  /*    Start Section Rules*/
  section {
    padding: 5rem;
  }

  /*    End Section Rules*/
  /*    Start Skills Rules*/
  section#skills span {
    padding: 8px 12px;
    font-size: 1.2rem;
  }

  /*    End Skills Rules*/
  /*    Start Portfolio Rules*/
  .portfolio {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto repeat(5, minmax(24rem, 1fr));
    grid-template-areas: "h h h h""p p p p""cup cup acme acme""calc wea wea pom""calc wea wea pom""adm adm adm ga""wiki wiki wiki ga";
  }

  /*    End Portfolio Rules*/
  /*    Start Services Rules*/
  section#services>p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto
  }

  section#services ul {
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  /*    End Services Rules*/
  /*    Start Contact Rules*/
  Section#contact {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    padding: 5rem 3rem;
  }

  section#contact p {
    max-width: 90%;
  }

  section#contact .contact-form {
    border: none;
    border-right: 1px solid var(--border-color);
  }

  section#services iframe {
    width: 100%;
  }

  /*    End Contact Rules*/
}

/* End Media Queries rules */