
/* Start General Rules */

:root {
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Josefin Slab', 'Helvetica', 'Arial', "Helvetica Neue", sans-serif;
    font-size: 15px;
}

body {
}

/* End General rules */

/* start header rules*/

/* End Header rules */

/* start section rules */

/* End section rules */

